{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/css/styles.css'%}" />
    <style> {% block style %} {% endblock style %} </style>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <div class="container">
    <div class="navbar">
      <div class="row">
          <div class="logo">
              <a href="{% url 'home' %}"><button  class="submit wk-rp">Text Translate </button></a>
              <p>or</p>
              <a href="{% url 'speak-translate' %}"><button  class="submit wk-rp">Speak Translate </button></a>
     
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="{% static 'home/js/ripples.js'%}"></script>
    <script src="{% static 'home/js/main.js'%}"></script>
    
    <script> 
    {% block script %}{% endblock script %}
  </script>
  </body>
</html>
